@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800&display=swap');
h2{
    font-size: 100px;
    color: rgb(9, 182, 124);
    text-shadow: rgb(9, 182, 124) 1px 0.1em 0.2em;
    font-family: 'Orbitron', sans-serif;
    margin-top: 20px;
}